div.dhx_popup_dhx_terrace {
	position: absolute;
	z-index: 3155;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area {
	position: relative;
	margin: 10px;
	padding: 10px 0px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	box-shadow: 0 0 5px #cecece;
	background-color: #f9f9f9;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area.dhx_popup_area_ie {
	box-shadow: 0 0 10px #cecece;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area td.dhx_popup_td {
	color: #2e2e2e;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	line-height: normal;
	padding: 7px 10px 6px 10px;
	white-space: nowrap;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td {
	-moz-user-select: text;
	-webkit-user-select: text;
}

div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhx_popup_sep td.dhx_popup_sep {
	font-size: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1px;
	position: relative;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhx_popup_sep td.dhx_popup_sep div.dhx_popup_sep {
	width: 100%;
	height: 4px;
	margin-bottom: 4px;
	font-size: 1px;
	border-bottom: 1px solid #e5e5e5;
}

div.dhx_popup_dhx_terrace div.dhx_popup_area td.dhx_popup_td:first-child {
	padding-left: 23px;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area td.dhx_popup_td:last-child {
	padding-right: 21px;
}

/* offsets for IE */
div.dhx_popup_dhx_terrace div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_single {
	padding-left: 23px;
	padding-right: 21px;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_first {
	padding-left: 23px;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_last {
	padding-right: 21px;
}


div.dhx_popup_dhx_terrace div.dhx_popup_area tr:hover td.dhx_popup_td {
	background-color: #fffcda;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode:hover td.dhx_popup_td {
	background: none;
}

/* IE6 hover */
div.dhx_popup_dhx_terrace div.dhx_popup_area.dhx_popup_area_ie tr.tr_hover td.dhx_popup_td {
	background-color: #fffcda;
}

/* arrow image */
div.dhx_popup_dhx_terrace div.dhx_popup_arrow {
	position: absolute;
	background-repeat: no-repeat;
}
div.dhx_popup_dhx_terrace div.dhx_popup_arrow.dhx_popup_arrow_bottom {
	width: 19px;
	height: 16px;
	background-image: url("../imgs/dhxpopup_dhx_terrace/arrow_bottom.gif");
	background-position: top center;
}
div.dhx_popup_dhx_terrace div.dhx_popup_arrow.dhx_popup_arrow_top {
	width: 19px;
	height: 16px;
	background-image: url("../imgs/dhxpopup_dhx_terrace/arrow_top.gif");
	background-position: bottom center;
}

div.dhx_popup_dhx_terrace div.dhx_popup_arrow.dhx_popup_arrow_right {
	width: 16px;
	height: 19px;
	background-image: url("../imgs/dhxpopup_dhx_terrace/arrow_right.gif");
	background-position: center left;
}

div.dhx_popup_dhx_terrace div.dhx_popup_arrow.dhx_popup_arrow_left {
	width: 16px;
	height: 19px;
	background-image: url("../imgs/dhxpopup_dhx_terrace/arrow_left.gif");
	background-position: center right;
}

/* skin detect */
div.dhx_popup_skin_detect {
	position: absolute;
	display: block;
	visibility: hidden;
	left: -100px;
	top: 0px;
	width: 30px;
	height: 10px;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: hidden;
}


/* components-related */
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td .dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_terrace {
	position: relative!important;
	box-shadow: none;
	background-image: none;
}
