div.dhx_popup_dhx_skyblue {
	position: absolute;
	z-index: 3155;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area {
	position: relative;
	margin: 10px;
	padding: 1px 0px;
	border: 1px solid #a4bed4;
	box-shadow: 0 0 5px #cecece;
	background-color: #eaf2fb;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie {
	box-shadow: 0 0 10px #cecece;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td {
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
	padding: 0px 4px;
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td {
	height: auto;
	line-height: inherit;
	-moz-user-select: text;
	-webkit-user-select: text;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie tr.dhxnode td.dhx_popup_td {
	height: 1em;
	line-height: 1em;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhx_popup_sep td.dhx_popup_sep {
	font-size: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1px;
	position: relative;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhx_popup_sep td.dhx_popup_sep div.dhx_popup_sep {
	width: 100%;
	height: 3px;
	margin: 0px;
	font-size: 1px;
	overflow: hidden;
	background-image: url("../imgs/dhxpopup_dhx_skyblue/list_sep.gif");
	background-repeat: repeat-x;
	background-position: center center;
}

div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td:first-child {
	padding-left: 14px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td:last-child {
	padding-right: 14px;
}

/* offsets for IE */
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_single {
	padding-left: 14px;
	padding-right: 14px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_first {
	padding-left: 14px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_last {
	padding-right: 14px;
}
/* offsets end */

div.dhx_popup_dhx_skyblue div.dhx_popup_area tr:hover td.dhx_popup_td {
	background-image: url("../imgs/dhxpopup_dhx_skyblue/list_hover.gif");
	background-repeat: repeat-x;
	background-position: center center;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode:hover td.dhx_popup_td {
	background: none;
}

/* IE6 hover */
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie tr.tr_hover td.dhx_popup_td {
	background-image: url("../imgs/dhxpopup_dhx_skyblue/list_hover.gif");
	background-repeat: repeat-x;
	background-position: center center;
}

/* arrow image */
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow {
	position: absolute;
	background-repeat: no-repeat;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_bottom {
	width: 19px;
	height: 16px;
	background-image: url("../imgs/dhxpopup_dhx_skyblue/arrow_bottom.gif");
	background-position: top center;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_top {
	width: 19px;
	height: 16px;
	background-image: url("../imgs/dhxpopup_dhx_skyblue/arrow_top.gif");
	background-position: bottom center;
}

div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_right {
	width: 16px;
	height: 19px;
	background-image: url("../imgs/dhxpopup_dhx_skyblue/arrow_right.gif");
	background-position: center left;
}

div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_left {
	width: 16px;
	height: 19px;
	background-image: url("../imgs/dhxpopup_dhx_skyblue/arrow_left.gif");
	background-position: center right;
}

/* skin detect */
div.dhx_popup_skin_detect {
	position: absolute;
	display: block;
	visibility: hidden;
	left: -100px;
	top: 0px;
	width: 10px;
	height: 10px;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: hidden;
}

/* components-related */
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td {
	padding: 4px!important;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td .dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_skyblue {
	position: relative!important;
	background-image: none;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxtree_dhx_skyblue {
	background: none;
}
